@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
background: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
}

.app {
  
  max-width: 480px;
  margin: auto;
  background: #ffffff;
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.navbar {

  background-color: #2b71e3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 40px;  
  border-bottom-right-radius: 40px; 
  padding: 9px 34px;
  width: 100%;
  margin: 0 auto;
  
}



.logo {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  
}

.nav-links button {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

.page-title {
  text-align: center;
  color: #000000;
  margin: 24px 0;
}

.service-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px 30px;
}

.card {
     background: rgb(255, 255, 255);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.card:hover {
  background-color: #ffffff;
  color: #2563eb;
}
.vaqt{
  width: 125px;
  border-radius: 12px;
  background-color: #3b82f6;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 9px;
  color: white;
}

.booking-form {
  padding: 20px;
  margin-top: 20px;
}
.booking-form label{
  color: #3b82f6;
  font-size: 21px;

  font-weight: 500;
}

.booking-form p {
  color: #4e4343;
  font-size: 21px;
  font-weight: 600;
}

span{
  color: #000000;
}

.booking-form h2 {
  color: #3b82f6;
  margin-bottom: 8px;
}

.booking-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border-radius: 10px;
  background-color: #ffffff;
      background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  transition: 0.3s;
}

.booking-form input:hover,:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.book-btn {
  width: 100%;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;

}


.back-btn{
  margin-right: auto;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-weight: ;
      background: rgb(255, 255, 255);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  width: 120px;
  border-radius: 12px;
  transition: 0.2s;
}

.book-btn , .back-btn:hover {
  background-color: #2563eb;
  color: white;
}

.dashboard {
   background: #2563eb;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.stat-box {
      background: rgb(255, 255, 255);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: all 0.3s;
}

.stat-box:hover{
  color: #2563eb;
  font-size: 26px;
}
.footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #c7c7c7;
}

/* Drawer container */
.drawer {
  position: fixed;
  top: 0;
  left: -250px; /* ekrandan tashqarida boshlaydi */
  width: 250px;
  height: 50%;
  background-color: #ffffff;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.drawer.open {
  left: 0;
}

/* Close button */
.drawer .close-btn {
  align-self: flex-end;
  width: 40px;
  padding: 10px;
   background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Drawer menu items */
.drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.drawer ul li {
  width: 210px;
  color: #000000;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  border-radius: 20px;
  color: #2563eb;
  transition: all 0.3s;
}

.drawer ul li:hover{
  width: 280px;
  background-color: #ffffff;
  color: white;
}

.drawer ul li a {
  width: 80%;
  text-decoration: none;
 color: #2563eb;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.2s;
}


/* Overlay (ekran qorayishi) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 900;
}



/* 📱 Responsive */
@media (max-width: 480px) {
  .app { width: 100%; border-radius: 0; }
}

@media (min-width: 768px) {
  .app { max-width: 600px; }
}
