@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
 background: #3a56b4;
  background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(4, 30, 66, 1) 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
}

.app {
  max-width: 480px;
  margin: auto;
  background: rgba(255, 255, 255, 0.181);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.navbar {
  background-color: #041E42;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 16px 24px;
  width: 96%;
  margin: 0 auto;
  margin-top: 10px;
}
.nav-links {
  font-size: 26px;
}


.logo {
  font-weight: 600;
  font-size: 20px;
  
}

.nav-links a {
  color: #2563eb;
  text-decoration: none;
  margin-left: 26px;
  font-weight: 500;
}

.page-title {
  text-align: center;
  color: #fff;
  margin: 24px 0;
}

.service-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px 30px;
}

.card {
  background-color: #041E42;
  color: white;
  border-radius: 12px;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  background-color: #3b82f6;
}

.booking-form {
  padding: 20px;
}
.booking-form label{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.booking-form p {
  color: #00ff59;
  font-size: 21px;
  font-weight: 600;
}

.booking-form h2 {
  color: #3b82f6;
  margin-bottom: 8px;
}

.booking-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.book-btn {
  width: 100%;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

}

.back-btn{
  padding: 10px;
  color: white;
  background-color:#202020 ;
  width: 120px;
  border: none;
  border-radius: 12px;
}

.book-btn:hover {
  background-color: #2563eb;
}

.dashboard {
  background: #1c1c1c;
  padding: 20px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.stat-box {
  background: rgb(45, 45, 45);
  border-radius: 12px;
  color: white;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  background: #3b82f6;
  color: #c7c7c7;
}

/* 📱 Responsive */
@media (max-width: 480px) {
  .app { width: 100%; border-radius: 0; }
}

@media (min-width: 768px) {
  .app { max-width: 600px; }
}
