@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {

background: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
}

.app {
  
  max-width: 480px;
  margin: auto;
  background: #656c761a;
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.navbar {
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius:25px ;
  padding: 16px 24px;
  width: 86%;
  margin: 0 auto;
  
}
.nav-links {
  font-size: 26px;
}


.logo {
  font-weight: 600;
  font-size: 20px;
  
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 26px;
  font-weight: 500;
}

.page-title {
  text-align: center;
  color: #fff;
  margin: 24px 0;
}

.service-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px 30px;
}

.card {
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 22px;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  background-color: #000000;
}
.vaqt{
  width: 125px;
  border-radius: 12px;
  background-color: #3b82f6;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 9px;
}

.booking-form {
  padding: 20px;
  margin-top: 20px;
}
.booking-form label{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.booking-form p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
}

span{
  color: #00ff59;
}

.booking-form h2 {
  color: #3b82f6;
  margin-bottom: 8px;
}

.booking-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border-radius: 10px;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;
  margin-top: 20px;
}

.book-btn {
  width: 100%;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;

}

.back-btn{
  margin-left: 69%;
  padding: 10px;
  color: white;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 120px;
  border-radius: 12px;
  transition: 0.2s;
}

.book-btn , .back-btn:hover {
  background-color: #2563eb;
}

.dashboard {
   background: rgb(0, 0, 0);
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.stat-box {
  background: #212830;
  border-radius: 17px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  background-color: #2a313c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #c7c7c7;
}

/* 📱 Responsive */
@media (max-width: 480px) {
  .app { width: 100%; border-radius: 0; }
}

@media (min-width: 768px) {
  .app { max-width: 600px; }
}
